.about-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-section h2 {
  margin-bottom: 80px;
}

.about-section__content {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 80px auto;
  display: flex;
}

.about-section__content p {
  font-size: 26px;
  color: var(--yellow-color);
}

.about-section__content > div:first-child {
  width: calc(50% - 20px);
  padding-right: 20px;
}

.about-section__content > div:last-child {
  width: calc(50% - 20px);
  padding-left: 20px;
}

.about-section__content p:first-child {
  margin-top: 0;
}

.about-section__content p:last-child {
  margin-bottom: 0;
}

.about-section__content img {
  border-radius: 25px;
}


@media (max-width: 1360px) {
  .about-section__content {
    align-items: center;
    flex-flow: column-reverse;
    width: 100%;
    margin-bottom: 70px;
  }

  .about-section__content > div:first-child {
    max-width: initial;
    width: 90%;
    padding: 0;
  }

  .about-section__content > div:last-child {
    text-align: center;
    width: 90%;
    margin-bottom: 45px;
    padding: 0;
  }
}
