.food-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.food-section h2 {
  margin-bottom: 80px;
}

.food-section h3 {
  font-size: 35px;
}

.food-section p {
  color: var(--main-text-color) !important;
}

.food-section__line {
  display: flex;
  flex-wrap: wrap;
}

.food-section__content {
  margin-bottom: 80px;
}
