.footer {
  background: var(--yellow-color);
  padding: 35px 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  .footer__top {
    flex-flow: column-reverse;
  }
}
