.highlight {
  margin-top: 80px;
  display: flex;
}

.highlight > div {
  width: 50%;
}

.highlight > div:last-child {
  display: flex;
      align-items: flex-start;
    padding-top: 140px;
}

.highlight__rocket {
  margin-top: 23px;
}

.highlight__rocket img {
  width: 190px 
}

.highlight__rocket-fire img{
  max-width: 12em;
  rotate: 180deg;
}

.highlight__line {
  width: 78%;
  background-color: #D7BE7C;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: flex-end;
  padding-top: 18px;
  /* padding-bottom: 35px; */
  padding-right: 35px;
  height: 230px;
}

.highlight__line h1 {
    z-index: 10;
    color: var(--red-orange-color);
    margin: 0;
    text-transform: uppercase;
    position: relative;
    /* text-shadow: 3px 5px 0px rgba(25,51,66,1); */
    font-family: 'Mexcellent rg';
    font-size: 83px;
    font-weight: bold;
}

.highlight__description {
    font-family: 'Geo';
    margin-left: 20%;
    max-width: 405px;
    font-size: 29px;
    color: var(--yellow-color);
    text-transform: uppercase;
    line-height: 45px;
    text-align: justify;
    margin-top: -17px;
}

@media (max-width: 1360px) {
  .highlight {
    flex-direction: column;
  }

  .highlight__line h1 {
    font-size: 50px;
  }

  .highlight__line {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  } 

  .highlight > div:last-child {
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
  }

  .highlight__description {
    margin: 0 0 0 8%;
  }
}
