.logo {
    display: block;
    text-decoration: none;
    color: var(--red-orange-color);
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    font-family: 'RocketScript';
}

.logo_footer {
  font-size: 35px;
}

@media (max-width: 1400px) {
  .logo {
    font-size: 35px;
  }
}

@media (max-width: 1100px) {
  .logo {
    margin-bottom: 35px;
  }

  .logo_footer {
    margin-top: 35px;
    margin-bottom: 0;
  }
}
