body {
    /* --main-bg-color: #27282d; */
    --main-bg-color: #0f2233;
    --lighter-main-bg-color: #3E3F42;
    --blue-grey-color: #709094;
    --red-orange-color: #c03b26;
    --orange-color: #DB7F39;
    --yellow-color: #f4ddb4;
}
